.home-page {
  padding: 20px;
}

.card-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  padding: 20px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid gray;
  background-color: bisque;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 200px; 
  height: 150px;
}

.card p {
  font-size: 1rem;
}

.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 800px) {
  .card-area {
    grid-template-columns: 1fr; 
  }
}