.registration-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.registration-page h2 {
font-size: 2rem;
text-align: center; 
}

form {
  gap: 10px;
  display: flex;
  flex-direction:column;
  width: 60%;
  
}

.registration-page form input,.registration-page form select {
  display: block;
  padding: 10px; 
  border: 1px solid black; 
  box-sizing: border-box; 
}

.registration-page form button {
  background-color: pink;
  margin: 20px;
  font-size: 1rem;
  padding: 10px;
}
